* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border: 0;
  height: 64px;
  padding: 18px 35px;
  font-weight: 700;
  font-size: 20px;
  background: #fd6e0a;
  border-radius: 5px;
  color: #ffffff;
}
/* Header and Navigation Styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 250px;
}
.nav-title {
  font-weight: 800px;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}

/* Banner Section */
.banner {
  margin: 0 250px;
  display: flex;
  align-items: center;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  margin-bottom: 20px;
}
.banner-details {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
